
body{
  background-color:#FFB6C1
}


p{
  color: black

  }

img{
  display: inline-block;
}
#arroz{
  width: 50%;margin-left: 0%
}

#arrozcomfeijão{
  width: 50%;margin-left: 0%
}
h1{
  border: 7px dashed red;
}
